.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura total da tela */
  }
  
  .container img1 {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
  }
  